mixin aboutme()
	+b('section').aboutme&attributes(attributes)
		+e('h2').title
			|Добро пожаловать на страницу волшебства создания WEB-страниц

		+e('p').text
			|Меня зовут Никита, я занимаюсь магией верстки использую заклинания HTML, CSS и JS.
			|Легким взмахом кистей над клавиатурой превращаю ваш PSD макет в WEB страницу.
			|Использую таинственную методологию БЭМ.
			|Могу подготовить секретные ингредиенты для WEB используя векторную графику и растровые изображения.
			|Владею секретными знаниями шаманов по системному администрированию. Благодаря им могу подготовить и запустить
			|сайт "под ключ" используя ваши сервера или облочные решения.

		+e('p').text
			|Ниже представленны сайты созданные по предоставленным макетам командой "HTML Academy" в ежемесячной
			|полезной рассылки.
