mixin navigation()
	+b('nav').navigation&attributes(attributes)
		+e('a').item(href='#')
			|Home
		+e('a').item(href='#')
			|About me
		+e('a').item(href='#')
			|Portfolio
		+e('a').item(href='#')
			|Contacts
