mixin navigation()
	+b('nav').navigation&attributes(attributes)
		+e('a').item(href='#home')
			|Home
		+e('a').item(href='#aboutme')
			|About me
		+e('a').item(href='#portfolio')
			|Portfolio
		+e('a').item(href='#contacts')
			|Contacts
