.navigation
	text-align center
	border-bottom 2px solid rgb(241,241,241)
	margin-x(67px)
	padding-y(41px)

	&__item
		margin-right 50px
		color rgb(241,241,241)
		font-size 24px
		text-decoration none
		text-transform uppercase
