mixin contacts()
	+b.contacts&attributes(attributes)
		+e.item
		
			+e('span').title
				|E-mail:
			+e('a').field(href='mailto:bug0@bugzero.su')
				|bug0@bugzero.su
		
		+e.item
			+e('span').title
				| Tel:
			+e('a').field(href='tel:+79264994547')
				| +7 (926) 499-45-47
				
		+e.item
			+e('a').title
				|Skype:
			+e('a').field(href='skype:nikita.shevchenko.it')
				|Nikita.Shevchenko.IT
