@font-face 
    font-family 'NexaLight'
    src url('../fonts/NexaLight.otf') format('opentype')
    font-weight 400
    font-style normal

@font-face 
    font-family 'NexaBold'
    src url('../fonts/NexaBold.otf') format('opentype')
    font-weight 400
    font-style normal
