@font-face
	font-family 'BadScriptRegular'
	src url('../fonts/Badscript-regular.ttf')
	font-weight 400
	font-style normal

@font-face
	font-family 'OrbitronRegular'
	src url('../fonts/Orbitron-Regular.ttf')
	font-weight 400
	font-style normal
