extends /blocks/layout-default/layout-default
include /blocks/home/home
include /blocks/aboutme/aboutme

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+home(id='home')
	+aboutme(id='aboutme')
