extends /blocks/layout-default/layout-default
include /blocks/aboutme/aboutme
//include /blocks/performance/performance

block head
	- var pageTitle = 'Верстка Web';
	- var pageDescription = 'Сайт портфолио вертки';
	- var pageKeywords = 'Портфоли, Portfolio, Web, HTML, HTML5, CSS, JavaScript, JS, Верстка, Адаптивная верстка, Сайт, Создание сайта';

block content
	+aboutme()
	//+performance(getData('portfolio'))
