include ../navigation/navigation
include ../scroll/scroll

mixin home()
	+b('section').home&attributes(attributes)
		+navigation
		+e.logo
		+e('h1').item
			+e('span')
				|Jwood
			|photography
		+scroll('scroll down to see more', '#aboutme')

