.home
	background-image url("../images/bg-header.jpg")
	background-size cover
	text-align center

	&__logo
		sprite $logo
		display inline-block
		margin-top 148px
		margin-bottom 54px

	&__item
		font-family NexaLight
		font-size 60px
		color rgb(241,241,241)
		text-transform uppercase
		margin-bottom 145px

		span
			font-family NexaBold
