.social
	text-align center
	
	&__title
		font-family NexaBold
		text-transform uppercase
		font-size 24px
		display block
		margin 65px 0 45px 0
	
	&__icon
		display inline-block
		height 57px
		width 57px
		margin-right 25px
		
		&_facebook
			sprite $facebook
		
		&_twitter
			sprite $twitter

		&_instagram
			sprite $instagram
			
		&:last-child	
			margin-right 0