.pasteboard
	background-color #3f3f3f
	center(500px, 250px)
	padding 10px 25px
	border-radius 10%
	font-family BadScriptRegular
	font-size 12px
	font-weight bold
	background url("../images/paper_texture.jpg") no-repeat
	background-size cover

