include ../title/title
include ../avatar/avatar
include ../initials/initials
include ../signature/signature
include ../links/links
include ../contacts/contacts

mixin pasteboard()
	+b.pasteboard&attributes(attributes)
		+avatar()
		+title()
		+initials()
		+signature()
		+links()
		+contacts()
