.scroll
	display inline-block
	text-align center
	
	&__item
		color rgb(241,241,241)
		font-size 18px
		text-decoration none
		text-transform uppercase
		
	&:after
		content ''
		display block
		margin 23px auto 53px auto
		sprite $scroll